<! DOCTYPE HTML>
    <html>

    <head>
        <title>Attendance-House</title>
        <link rel=StyleSheet href="medida.css" type="text/css" media=screen>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
            <div id="house"></div>
            <div class="container" id="vue">
                <div class="row justify-content-between">
                    <div class="col col-sm-4">
                        <img src="Imagenes/lupa.jpg" alt="logo" class="logo">
                    </div>

                    <div class="col col-sm-4">
                        <img src="Imagenes/carta.jpg" alt="carta" class="carta" class="margend">

                    </div>
                </div>
                <br />
                <!---->
                <div class="row">    
                    <div class=" col col-12">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary"><a href="home.html" class="letra">Home</a></button>
            
                            <div class="btn-group" role="group">
            
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Congress 113
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="senate.html">Senate</a>
                                    <a class="dropdown-item" href="house.html">House</a>
                                </div>
                            </div>
            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Attendance
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="attendance_senate.html">Senate</a>
                                    <a class="dropdown-item" href="attendance_house.html">House</a>
                                </div>
                            </div>
            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Party Loyalty
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="party_senate.html">Senate</a>
                                    <a class="dropdown-item" href="party_house.html">House</a>
                                </div>
                            </div>    
                        </div>
                    </div>    
                </div>
                <!---->
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h3>Attendance</h3>
                        <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each
                            house. Representatives and senators rarely force the presence of a quorum by demanding quorum
                            calls; thus, in most cases, debates continue even if a majority is not present.</p>

                        <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator
                            stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for
                            the most formal matters, as a roll-call of all 435 representatives takes quite some time;
                            normally, members vote by electronic device. In the case of a tie, the motion in question fails.
                            In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
                    </div>
                    <!---->
                    <div class="col-sm-12 col-md-6">
                        <h2>House at a glance</h2>
                        <table border="5px" class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th>Party</th>
                                    <th>Number of Reps</th>
                                    <th>% Voted with Prty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Republican</td>
                                    <td>{{republicano.length}}</td>
                                    <td>{{votosrep}}</td>
                                </tr>
                                <tr>
                                    <td>Democrat</td>
                                    <td>{{democrata.length}}</td>
                                    <td>{{votosdem}}</td>
                                </tr>
                                <tr>
                                    <td>Independent</td>
                                    <td>{{independiente.length}}</td>
                                    <td>{{votosind}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <!---->
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h3>Least Engaged (Bottom 10% Attendance)</h3>
                        <table border="5px" class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of Missed Votes</th>
                                    <th>% Missed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="x in votan_menos">
                                    <td>{{x.first_name}} {{x.last_name}}</td>
                                    <td>{{x.missed_votes}}</td>
                                    <td>{{x.missed_votes_pct}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h3>Most Engaged (Top 10% Attendance)</h3>
                        <table border="5px" class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of Missed Votes</th>
                                    <th>% Missed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="x in votan_mas">
                                    <td>{{x.first_name}} {{x.last_name}}</td>
                                    <td>{{x.missed_votes}}</td>
                                    <td>{{x.missed_votes_pct}}</td>
                                </tr>
                            </tbody>
                        </table>                    
                    </div>
                </div>
                <!---->
                <br />
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-dark" role="alert">
                            <p class="margenc">2016 TGIF | All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

        <!--Hoja de JS de tarea N°4-->
        <script src="js/estadistica_attendance.js"></script>
    </body>

    </html>